<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript">   
            var _DATAGRID_ID = 'datagrid';
        </script>
        <script type="text/javascript" src="/javascript/comm.js"></script>
        <script type="text/javascript" src="recordlog_home_mgr.js"></script>
    </head>
    <body>
        <table id="datagrid">
        </table>
        
        <div id="tt">
			<a href="javascript:void(0)" class="icon-help"  onclick="javascript:menumore()"></a>
		</div>
		
    </body>
</html>